.container {
  margin: 0 auto;
  height: 100%;
  padding: 2rem;
  max-width: 1000px;

  h1 {
    color: var(--gray-300);
  }
}

.content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 770px){
  .content  {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 440px){
  .content  {
    grid-template-columns: 1fr;

  }
 }