.container {

  --border-width: 3px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--gray-850);
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }

  padding: 12px 12px;
  gap: 12px;

  .title {
    display: flex;
    flex: 1;
    justify-content: center;

    Strong {
      font-weight: 800;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }
}

.container:hover {
  transform: scale(1.06);
  Strong{
    color: var(--gray-850);
  }
}


@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
