.container{
  margin: 0 auto;
  padding: 7rem 2rem;
  height: calc(100vh - 5rem);
  max-width: 1000px;
  margin: 0 auto;
}

.my{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  section{
    max-width: 50%;
    
    h1{
      font-size: 2rem;
      font-weight: 200;      

      span{
        font-size: 3rem;
        font-weight: bold;
        background: linear-gradient(var(--gradient));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1.5;
      }
    }

    span{
      color: var(--gray-300);
    }

    p{
      margin-top: 1.5rem;
      font-size: 2rem;

      span{
        color: var(--grad1);
        font-weight: bold;
      }

      em {
        display: inline-block;
        animation: rotate 1s 2;
      }
    }
  }


  .image{
    position: relative;
  }

  img{
    border-radius: 0 0 0 100px;
    position: relative;
  }

  .image::before {
    content: "";
    height: 100%;
    width: 100%;
    background:  linear-gradient(var(--gradient));
    border-radius: 0 0 0 100px;
    position: absolute;
    top: -6.8%;
    left: 10%;
    z-index: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 10deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 50deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg);
  }

}


// @media(max-width: 700px){
//   .my{

//   }
// }

@media(max-width: 600px){
  .my{
    display: grid;
    grid-template-areas: "f" "m";

    .image {
      width: 150px;
      margin: 0 auto;
      max-width: 100%;
      display: flex;
      grid-area: f;
    }

    img {
      border-radius: 10px;
    }

    section{
      max-width: 100%;
      grid-area: m;

      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1{
        font-size: 1.2rem;  
        span{
          font-size: 2rem;
        }
      }

      p{
        font-size: 1.3rem;
        text-align: center;
  
        em {
          display: inline-block;
          animation: rotate 1s 2;
        }
      }
    }
  }
}
